In [5]:
#Import libraries
import pandas as pd

In [22]:
df = pd.read_csv('expanded_car_sales_data.csv')

In [23]:
df.head() # display first few rows

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500

In [24]:
df.isnull().sum() # calculate total no. of missing value in each column

Make        1
Colour      1
Odometer    4
Doors       1
Price       2
dtype: int64

In [25]:
# Treat missing values

In [26]:
df.loc[:, 'Make'] = df['Make'].fillna('Unknown')
df.loc[:, 'Colour'] = df['Colour'].fillna('Unknown')

In [27]:
df['Price'] = df['Price'].replace('[$,]','', regex=True).astype(float)

In [28]:
df['Odometer'] = df['Odometer'].fillna(df['Odometer'].mean())
df['Doors'] = df['Doors'].fillna(df['Doors'].mean())
df['Price'] = df['Price'].fillna(df['Price'].mean())

In [30]:
print(df.isnull().sum()) # after treating print missing values again

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64